{extend name='public/base' /}

{block name="content"}
<form class="layui-form" id="create-form" style="padding: 20px 0 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-inline">
            <input name="name" type="text" class="layui-input" lay-verify="required" autocomplete="off"  placeholder="分类名称">
        </div>
        <div class="layui-form-mid layui-word-aux">例如：首页banner</div>
    </div>
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="create-submit" id="create-submit">确定</button>
        </div>
    </div>
</form>
{/block}
{block name="javascript"}<!--自定义脚本-->
<script>
    var list_url = "{:url('ad_pos/list_view')}";
    var add_url = "{:url('ad_pos/add')}";
    var edit_url = "{:url('ad_pos/edit')}";
    var delete_url = "{:url('ad_pos/delete_data')}";
    var image_url = "{:url('upload/image')}";
</script>
<script src="/static/js/ad_pos.js"></script>
{/block}

