{extend name='public/base' /}

{block name="content"}
<form class="layui-form" id="save-form" style="padding: 20px 0 0 0;">
    <input type="hidden" name="id" value="{$info.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">*品牌名称：
        </label>
        <div class="layui-input-inline">
            <input name="name" type="text" class="layui-input" lay-verify="required" autocomplete="off" value="{$info.name}"  placeholder="品牌名称">
        </div>
        <div class="layui-form-mid layui-word-aux">例如：华为</div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">*LOGO：
        </label>
        <div class="layui-input-inline">
            <input name="logo" type="text"  class="layui-input logo" lay-verify="required" autocomplete="off" value="{$info.logo}"  placeholder="logo地址">
        </div>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test1">上传图片</button>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal"  lay-submit lay-filter="save-submit" id="save-submit">确定</button>
        </div>
    </div>

</form>
{/block}
{block name="javascript"}<!--自定义脚本-->
<script>
    var list_url = "{:url('goods_brand/list_view')}";
    var add_url = "{:url('goods_brand/add')}";
    var edit_url = "{:url('goods_brand/edit')}";
    var delete_url = "{:url('goods_brand/delete_data')}";
    var save_url = "{:url('goods_brand/save')}";
    var image_url = "{:url('upload/image')}";
</script>
<script src="/static/js/goods_brand.js"></script>
{/block}