{extend name='public/base' /}

{block name="content"}
<style>
    .layui-table-tool-temp {
        padding-right: 0px;
    }
    .layui-table-cell {
        height:auto;
        overflow:visible;
        text-overflow:inherit;
        white-space:normal;
        word-break: break-all;
    }

</style>
<div class="layui-card-body">
    <div class="layui-form" lay-filter="form-live" id="form-live">
        <table id="table-list" lay-filter="table-list"></table>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="submit" id="batch-create-submit" value="确认">
        </div>
    </div>
</div>
{/block}
{block name="javascript"}<!--自定义脚本-->
<!-- 工具栏 -->
<script type="text/html" id="table-tool-bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script type="text/html" id="table-toolbar-top">
    <div class="layui-btn-container">
        <span >批量添加商品-基础信息</span>
        <span style="float: right;"><a href="/upload/batch_goods.xls"><div class="layui-btn layui-btn-sm layui-btn-warm batchAddSpec" data-type="batchAddSpec" >下载范本</div></a></span>
        <span style="float: right;"><a href="javascript:;"><div class="layui-btn layui-btn-sm layui-btn-danger batch-delete"><i class="layui-icon">&#xe640;</i>批量删除</div></a></span>
        <span style="float: right;"><a href="javascript:;"><div class="layui-btn layui-btn-sm layui-btn-normal" id="upload-file"  ><i class="layui-icon">&#xe681;</i> 选择文件</div></a></span>
    </div>
</script>

<script type="text/html" id="select_brand" >
    {:widget('goods/getBrand',array(0))}
</script>

<script type="text/html" id="select_cat" >
    {:widget('goods/getCategory',array('cat_id_1',1,0))}
    {:widget('goods/getCategory',array('cat_id_2',2,0))}
    {:widget('goods/getCategory',array('cat_id_3',3,0))}
</script>

<script type="text/html" id="select_type" >
    {:widget('goods/getGoodsType',array('goods_type',0))}
</script>

<!--<script type="text/html" id="is_free_shipping" >-->
<!--    <select name='is_free_shipping' lay-verify='is_free_shipping' lay-search=''>-->
<!--        <option value="0">包邮</option>-->
<!--        <option value="1">不包邮</option>-->
<!--    </select>-->
<!--</script>-->

<!--<script type="text/html" id="is_new" >-->
<!--    <select name='is_new' lay-verify='is_new' lay-search=''>-->
<!--        <option value="0">否</option>-->
<!--        <option value="1">是</option>-->
<!--    </select>-->
<!--</script>-->


<!--<script type="text/html" id="is_recommend" >-->
<!--    <select name='is_recommend' lay-verify='is_recommend' lay-search=''>-->
<!--        <option value="0">否</option>-->
<!--        <option value="1">是</option>-->
<!--    </select>-->
<!--</script>-->

<!--<script type="text/html" id="is_hot" >-->
<!--    <select name='is_hot' lay-verify='is_hot' lay-search=''>-->
<!--        <option value="0">否</option>-->
<!--        <option value="1">是</option>-->
<!--    </select>-->
<!--</script>-->
<script>
    var goods_id = 0;
    var template_id = 0;
    var list_url = "{:url('goods/list_view')}";//列表url
    var save_url = "{:url('goods/save')}";//保存
    var edit_url = "{:url('goods/edit')}";//编辑
    var add_url = "{:url('goods/add')}";//添加
    var ajax_category = "{:url('ajax/ajaxGetCategory')}";
    var ajax_attr = "{:url('ajax/ajaxGetAttr')}";
    var add_image_url = "{:url('goods_image/add')}";
</script>
<script src="/static/js/goods.js"></script>
<script>
    layui.use(['table','upload', 'form'],function(){
        var layer = layui.layer,
            table = layui.table,
            $ = layui.$,
            upload = layui.upload,
            form = layui.form,
            dataList = [];

        var tableInsOptions = {
            elem: '#table-list'
            ,id:'table-list'
            ,skin: 'line'
            ,toolbar: '#table-toolbar-top'
            ,defaultToolbar: []
            ,cols: [[
                {checkbox: true}
                ,{field: 'id', title: '序号', sort: true}
                ,{field: 'goods_name', title: '商品名称', edit: 'text'}
                ,{field: 'goods_sn', title: '货号', edit: 'text'}
                ,{field: 'goods_code', title: '编码',  edit: 'text' }
                // ,{field: 'brand_id', title: '品牌',  templet:'#select_brand'}
                // ,{field: 'cat_id', title: '分类',  templet:'#select_cat'}
                ,{field: 'keywords', title: '关键词',  edit: 'text'}
                ,{field: 'market_price', title: '市场价',  edit: 'text'}
                ,{field: 'shop_price', title: '出售价',  edit: 'text'}
                ,{field: 'cost_price', title: '采购价',  edit: 'text'}
                // ,{field: 'goods_type', title: '属性分类',  templet:'#select_type'}
                ,{title:'操作', toolbar: '#table-tool-bar', unresize:true}
            ]]
            ,data: dataList
        };

        var tableIns  = layui.table.render(tableInsOptions);

        upload.render({
            elem: '#upload-file'
            ,url: "{:url('uploadExcel')}"
            ,accept: 'file'
            ,exts: 'xlsx|xls|csv'
            ,done: function(res){
                layer.msg(res.msg);
                if (res.code == 0) return false;
                tableInsOptions.data = res.data;
                tableIns.reload(tableInsOptions);
            }
        });

        table.on('toolbar(table-list)', function(obj){
            var checkStatus = table.checkStatus('table-list');
            switch(obj.event){
                case 'batch-delete':
                    var length = checkStatus.data.length;
                    if (length < 1) {
                        layer.msg('至少选择一个');
                        return false;
                    }

                    layer.confirm('你确定删除这' + length + '行吗？', function (index) {
                        layui.each(checkStatus.data, function (index) {
                            $("tr[data-index='" + index + "']").remove();
                        });
                        layer.close(index);
                    });
                    break;
            };
        });

        //批量删除
        $(document).on('click', '.batch-delete', function() {
            var checkStatus = table.checkStatus('table-list');
            var length = checkStatus.data.length;
            if (length < 1) {
                layer.msg('至少选择一个');
                return false;
            }

            layer.confirm('你确定删除这' + length + '行吗？', function (index) {
                layui.each(checkStatus.data, function (index) {
                    $("tr[data-index='" + index + "']").remove();
                });
                layer.close(index);
            });
        });

        table.on('edit(table-list)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
        });

        table.on('tool(table-list)', function(obj) {
            var data = obj.data;
            switch(obj.event)
            {
                case 'del':
                    showConfirm('您确定删除此条记录？', function(index) {
                        obj.del();
                        layer.close(index);
                        return true;
                    });
                    break;
            }
        });


        form.on('submit(submit)', function(data) {
            ajaxRequest('POST',"{:url('goods/batch_add_goods')}",{'data' : table.cache['table-list'] },'',function(res){
                if ( res.code === 0 ) {
                    showErrorMsg(res.msg);
                } else {
                    showSuccessMsg(res.msg,function(){
                        parent.location.reload();
                    });
                }
            });
        });
    });

</script>
{/block}