{extend name='public/base' /}

{block name="content"}
<div class="layui-form" lay-filter="form-live" id="form-live">
    <div class="layui-tab-content">
        <div class="layui-form-item required">
            <label class="layui-form-label">任务名</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="任务名" autocomplete="off"
                       class="layui-input" value="{$info.name|default=''}">
            </div>
        </div>
        <div class="layui-form-item required">
            <label class="layui-form-label">定时规则</label>
            <div class="layui-input-block">
                <textarea name="rule" id="rule" placeholder="请填写定时规则，Linux的crontab格式" class="layui-textarea">{$info.rule|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item required">
            <label class="layui-form-label">运行这个任务的类</label>
            <div class="layui-input-block">
                <input type="text" name="execute_class" id="execute_class" lay-verify="required" placeholder="运行这个任务的类"
                       autocomplete="off" class="layui-input" value="{$info.execute_class|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务参数</label>
            <div class="layui-input-block">
                <textarea name="options" placeholder="任务参数" class="layui-textarea">{$info.options|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" id="remark" placeholder="请输入备注"
                          class="layui-textarea">{$info.remark|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                {:widget('common/singleSelect',array('status|0|状态|name|id',[1=>'开启',2 => '关闭'],isset($info['status']) ?
                $info['status'] : 0))}
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
            {notempty name="info.id"}<input type="text" name="id" value="{$info.id}">{/notempty}
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            form = layui.form;
        form.on('submit(submit)', function (data) {
            //判断是否全部加载完毕
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name);
            var url = !!data.field.id == false ? "{:url('add')}" : "{:url('edit')}";

            ajaxRequest('POST', url, field, '', function (res) {
                if (res.code == 1) {
                    showSuccessMsg(res.msg, function () {
                        parent.layui.table.reload('table-list'); //重载表格
                        parent.layer.close(index); //再执行关闭
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            });
        });
    });
</script>
{/block}