<style type="text/css">
	.layui-upload-drag {
	    position: relative;
	    padding: 10px;
	    border: 1px dashed #e2e2e2;
	    background-color: #fff;
	    text-align: center;
	    cursor: pointer;
	    color: #999;
	}
</style>
<div class="layui-input-block">
	<div class="layui-upload-drag">
	 	<a href="{if $img_url neq ''}{$img_url}{else}javascript:void(0);{/if}" {if $img_url neq null}target="black"{/if}>
	 		<img id="{$name}_show_id" src="{if $img_url neq ''}{$img_url}{else}/static/images/default_upload.png{/if}" alt="上传图片" width="{$img_width}" height="{$img_height}">
	 	</a>
	 	<input type="hidden" id="{$name}" name="{$name}" value="{if $img_hidden neq null}{$img_hidden}{/if}">
	</div>
	<div style="margin-top:10px;">
		<button type="button" class="layui-btn" id="btnUploadImg_{$name}"><i class="layui-icon">&#xe67c;</i>上传{$title}</button>
	</div>
	{if $size_tips neq null}
	<div class="layui-form-mid layui-word-aux">建议尺寸：{$size_tips}</div>
	{/if}
</div>

<script type="text/javascript">

layui.use(['upload'],function(){
	//声明变量
	var layer = layui.layer,upload = layui.upload,$ = layui.$;

	/**
	 * 普通图片上传
	 */
	var uploadInst = upload.render({
		elem: '#btnUploadImg_{$name}'
		,url: "{:url('upload/image')}"
		,accept:'images'
		,acceptMime:'image/*'
		,exts: "{$uploadImgExt}"
		,field:'file'//文件域字段名
		,size: {$uploadImgSize} //最大允许上传的文件大小
		,before: function(obj){
			//预读本地文件
		}
		,done: function(res){
			//上传完毕回调

			if(res.code != 1){
				layer.msg(res.msg,{ icon: 5 });
				return false;
			}

			//上传成功
			$('#{$name}_show_id').attr('src', res.url);
			$('#{$name}').val(res.url);
		}
		,error: function(){
			//请求异常回调
			return layer.msg('数据请求异常');
		}
	});

});

</script>