{extend name='public/base' /}

{block name="content"}
<form class="layui-form" id="edit-form" style="padding: 20px 0 0 0;">
    <input type="hidden" name="id" value="{$info.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">*名称：</label>
        <div class="layui-input-inline">
            <input type="text" id="title" name="title" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="{$info.title}">
        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:#FF0000;">（名称不可超过10个字符串）</span></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">*来源：</label>
        <div class="layui-input-inline">
            {:widget('common/select',array('merchants_id',$merchantsList, $info.merchants_id))}
        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:#FF0000;">（该商家账号的直接联系人）</span></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-block">
            {:widget('common/radio',array('status','status',array('0'=>'禁用','1'=>"启用"),$info.status))}
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="edit-submit" id="edit-submit">确定</button>
        </div>
    </div>

</form>
{/block}
{block name="javascript"}<!--自定义脚本-->
<script>
    layui.use(['layer', 'table', 'element', 'form', 'laydate'], function(){
        var  layer = layui.layer //弹层
            ,table = layui.table //表格
            ,form = layui.form


        var is_click=0;
        $('#edit-submit').click(function(){
            if(is_click>0){
                showErrorMsg('请勿重复提交');
            }
            $.ajax({
                url: "{:url('edit')}",
                type: 'post',
                data: $("#edit-form").serialize(),
                async: false,
                dataType: 'json',
                error: function() {
                    showErrorMsg('网络繁忙');
                },
                success: function(data) {
                    if ( data.code === 0 ) {
                        showErrorMsg(data.msg);
                    } else {
                        is_click++;
                        showSuccessMsg(data.msg,function(){
                            parent.location.reload();
                        });
                    }
                }
            });
        });
    });
</script>
{/block}